@import url('https://fonts.googleapis.com/css2?family=Play&family=Rajdhani:wght@500;700&display=swap');
/* font-family: 'Play', sans-serif;
font-family: 'Rajdhani', sans-serif; */

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    font-size: 100%;
    background-color: #282828;
}

.cabecalho{
    display: flex;
    flex-direction: row;
    align-items: center; 
    justify-content: space-between;

    /* border: 3px solid white; */
    padding-left: 150px; 
    padding-right: 150px;
    padding-top: 30px; 
    
}

.cabecalho-img{
    width: 182px;
}

.cabecalho-menu{
    display: flex; 
    gap: 20px;
   /* border: 3px solid red; */
    
}

.cabecalho-menu-item{
    font-family: 'Rajdhani', sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: white;
}

.conteudo{
    border: 3px solid white;
    padding-top: 139px;
    display: flex;
    flex-direction: row;
}

.conteudo-principal{
    display: flex;
    flex-direction: row;
    padding-left: 150px;

    border: 3px solid skyblue;

    align-items: center; 
    justify-content: space-between;

}

.conteudo-principal-escrito{
    display: flex;
    flex-direction: column;
    margin-right: 64px;
}

.conteudo-principal-escrito-pretitulo{
    color: white;
    font-family: 'Play', sans-serif;
    font-size: 24px;
    font-weight: 400;

}

.conteudo-principal-escrito-titulo{
    color: white;
    font-family: 'Rajdhani', sans-serif;
    font-size: 64px;
    font-weight: 700;

}

.conteudo-principal-escrito-subtitulo{
    color: white;
    font-family: 'Rajdhani', sans-serif;
    font-size: 24px;
    font-weight: 700;
}

.conteudo-principal-escrito-botao{

}

.conteudo-principal-imagem{
    width: 453px;
    

}

